# image: local or remote reference to an existing image
# build: pathname of a directory that contains the Dockerfile
# command: changes the commando to be run in the container
# links: links to containers of another service (ESTABLISH DEPENDENDCIES)
# external_links: links to containers externals to "compose"( a container created 1.manually, 2.by another docker-compose.yml file or 3.another tool different than docker compose)
# ports: exposed ports
# expose: exposed ports ONLY ACCESSIBLE by linked services(services defined in links or external_links clausures)
# volumes: mounts host pathnames as container volumes(used for managin)

version: '2'
services:
  cli:
    image: client
    build: ./client/
    links:
      - bro
    environment:
      - BROKER_HOST=brof
      - BROKER_PORT=9998
  wor:
    image: worker
    build: ./worker/
    links:
      - bro
    environment:
      - BROKER_HOST=bro
      - BROKER_PORT=9999
  bro:
    image: brokerl
    build: ./broker/
    expose:
      - "9998"
      - "9999"
    environment:
      - LOGGER_HOST=log
      - LOGGER_PORT=9995
  log:
    image: logger
    build: ./logger/
    expose:
      - "9995"
    volumes:
# /tmp/logger.log DIRECTORY must exist on host and writeable
      - /tmp/logger.log:/tmp/cbwlog
    environment:
      - LOGGER_DIR=/tmp/cbwlog
